<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top {{currentSkin}}">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-con trols="navbar" aria-expanded="false" class="navbar-toggle collapsed hamburger--spring" data-target="#navbar" data-toggle="collapse" type="button" (click)="expandNavHead()">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                    <!-- <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-1"></span>
                    <span class="icon-bar icon-bar-2"></span>
                    <span class="icon-bar icon-bar-3"></span> -->
                </button>
                <a class="navbar-brand" routerLink="/home">Material Admin</a>
            </div>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li>
                    <a class="no-hover">
                        <div class="toggle-switch" switcher="cyan" switchColor="rgba(0,188,212,0.5)" switchActive="#00bcd4">
                            <input type="checkbox" id="toggle-layout" hidden="hidden" (change)="changeLayout($event)" checked="checked">
                            <label class="ts-helper" for="toggle-layout"></label>
                        </div>
                    </a>
                </li>
                <li class="search-parent">
                    <div class="search-div">
                        <div class="seach-container">
                            <input type="search" placeholder="Search..." class="main-search-menu-input"><!--
                            --><button class="btn prevent-main-search-hide" tabindex="0">
                                <i class="zmdi zmdi-search prevent-main-search-hide" tabindex="0"></i>
                            </button>
                            <div class="main-search-menu-dropdown">
                                <div class="search-scroll" [perfectScrollbar]>
                                    <ul class="main-search-menu-result">
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 1</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 2</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 3</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 4</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 5</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 6</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 7</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 8</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 9</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 10</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 11</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 12</a></li>
        
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 13</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 14</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 15</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 16</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 17</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 18</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 19</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 20</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 21</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 22</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 23</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 24</a></li>
                                    </ul>
                                </div>
                                <div class="search-footer" tabindex="0">see all</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li dropdown class="dropdown has-zmdi">
                    <a class="icon-zmdi" dropdownToggle>
                        <i class="zmdi zmdi-email"></i>
                    </a>
                    <div class="dropdown-menu pull-right messages-list">
                        <div class="dropdown-arrow"></div>
                        <div class="listview">
                            <div class="lv-header">Message</div>
                            <div class="lv-body">
                                <a *ngFor="let items of messageList" class="lv-item">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="lv-img-sm" src="./assets/img/profile-pics/{{items.image}}">
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title"> {{ items.title }} </div>
                                            <div class="lv-small"> {{ items.message }} </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <a class="lv-footer">View All</a>
                        </div>                        
                    </div>
                </li>
                <li dropdown class="dropdown has-zmdi">
                    <a class="icon-zmdi" dropdownToggle>
                        <i class="tm-icon zmdi zmdi-more-vert"></i>
                    </a>                    
                    <ul class="list-unstyled dropdown-menu pull-right" style="width: 180px;">
                        <li class="dropdown-arrow"></li>
                        <li class="skin-switch hidden-xs" style="padding: 15px 0 8px; text-align: center;">
                            <span *ngFor="let item of skinList | slice: 0:6" class="ss-skin bgm-{{ item }}" (click)="skinSwitch(item)"></span>
                        </li>
                        <li class="divider hidden-xs"></li>
                        <li class="hidden-xs">
                            <a>
                                <i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="zmdi zmdi-delete"></i> Clear Local Storage
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="zmdi zmdi-face"></i> Privacy Settings
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="zmdi zmdi-settings"></i> Other Settings
                            </a>
                        </li>
                    </ul>                                          
                </li>
                <li dropdown class="dropdown has-image">
                    <a class="cursor-pointer" class="nav-image" dropdownToggle>
                        <div class="notif-counter">
                            <div class="counter">10</div>
                        </div>
                        <img src="./assets/images/profile.jpeg">
                    </a>
                    <div class="dropdown-menu pull-right profile-menu-list">
                        <div class="dropdown-arrow"></div>
                        <p class="p-20">
                            You can put anything here
                        </p>
                    </div>
                </li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right big-search-holder">
                <li class="no-hover big-search-container">
                    <input>
                </li>
            </ul> -->
        </div>
    </nav>
</header>