<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav" style="width: 100%;">
                <li class="pull-left">
                    <button class="navbar-toggle collapsed hamburger--spring" type="button" (click)="expandNavHead()">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </button>
                </li>
                <li class="hidden-xs">
                    <a class="navbar-brand" routerLink="/home">NGX Admin Dashboard</a>
                </li>
                <li dropdown class="dropdown has-image pull-right">
                    <a class="cursor-pointer" class="nav-image" dropdownToggle>
                        <img src="./assets/images/profile.jpeg">
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li class="dropdown-arrow"></li>
                        <li>
                            <a>
                                <i class="zmdi zmdi-account"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="zmdi zmdi-swap"></i>
                                Switch Account
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="zmdi zmdi-time-restore"></i>
                                Logout
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="hidden-xs">
                            <a (click)="fullScreen()">
                                <i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="zmdi zmdi-settings"></i> Other Settings
                            </a>
                        </li>
                    </ul>
                </li>
                <li dropdown class="dropdown has-zmdi pull-right">
                    <a class="icon-zmdi" dropdownToggle>
                        <i class="zmdi zmdi-palette"></i>
                    </a>
                    <ul class="list-unstyled dropdown-menu pull-right" [stop-propagate] style="width: 230px;">
                        <li class="dropdown-arrow"></li>
                        <li class="skin-switch" style="padding: 15px 0 8px; text-align: center;">
                            <span class="ss-skin bgm-primary" (click)="skinSwitch('primary', $event)"></span>
                            <span class="ss-skin bgm-lightblue" (click)="skinSwitch('lightblue', $event)"></span>
                            <span class="ss-skin bgm-bluegray" (click)="skinSwitch('bluegray', $event)"></span>
                            <span class="ss-skin bgm-cyan" (click)="skinSwitch('cyan', $event)"></span>
                            <span class="ss-skin bgm-teal" (click)="skinSwitch('teal', $event)"></span><br>
                            <span class="ss-skin bgm-green" (click)="skinSwitch('green', $event)"></span>
                            <span class="ss-skin bgm-orange" (click)="skinSwitch('orange', $event)"></span>
                            <span class="ss-skin bgm-blue" (click)="skinSwitch('blue', $event)"></span>
                            <span class="ss-skin bgm-purple" (click)="skinSwitch('purple', $event)"></span>
                            <span class="ss-skin bgm-indigo" (click)="skinSwitch('indigo', $event)"></span>
                        </li>
                        
                    </ul>
                </li>
                <li dropdown class="dropdown has-zmdi pull-right">
                    <a class="icon-zmdi" dropdownToggle>
                        <div class="notif-counter">
                            <div class="counter">4</div>
                        </div>
                        <i class="zmdi zmdi-email"></i>
                    </a>
                    <div class="dropdown-menu pull-right messages-list">
                        <div class="dropdown-arrow"></div>
                        <div class="listview">
                            <div class="lv-body">
                                <a *ngFor="let items of messageList" class="lv-item">
                                    <div class="media">
                                        <div class="pull-left">
                                            <div class="full-round">
                                                <div class="full-round-txt">
                                                    {{ items.title.substr(0, 1).toUpperCase() }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title"> {{ items.message }} </div>
                                            <div class="lv-small"> 
                                                <span>{{ items.title }} </span> - 
                                                <span> 2hrs ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <a class="lv-footer">More message</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown has-zmdi pull-right visible-xs" (click)="showHideSearchMobile('show')">
                    <a class="icon-zmdi">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
                <li class="search-parent pull-right hidden-xs">
                    <div class="search-div">
                        <div class="seach-container">
                            <input type="search" placeholder="Search..." class="main-search-menu-input"><!--
                            --><button class="btn prevent-main-search-hide" tabindex="0">
                                <i class="zmdi zmdi-search prevent-main-search-hide" tabindex="0"></i>
                            </button>
                            <div class="main-search-menu-dropdown">
                                <div class="search-scroll" [perfectScrollbar]>
                                    <ul class="main-search-menu-result">
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 1</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 2</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 3</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 4</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 5</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 6</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 7</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 8</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 9</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 10</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 11</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 12</a></li>
        
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 13</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 14</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 15</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 16</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 17</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 18</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 19</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 20</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 21</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 22</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 23</a></li>
                                        <li><a (click)="testExpress($event)" class="no-hover search-result">Content 24</a></li>
                                    </ul>
                                </div>
                                <div class="search-footer" tabindex="0">More result</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pull-right hidden-xs">
                    <a class="no-hover">
                        <!-- rgba(0,188,212,0.5) -->
                        <div class="toggle-switch" switcher="swith-transparent" switchColor="rgba(0,0,0,0.26)" switchActive="#FFF">
                            <input type="checkbox" id="toggle-layout" hidden="hidden" (change)="changeLayout($event)" checked="checked">
                            <label class="ts-helper" for="toggle-layout"></label>
                        </div>
                    </a>
                </li>
                
                
            </ul>
        </div>
        <div class="container-fluid visible-xs" id="search-mobile-container">
            <div class="seach-mobile-body">
                <div class="search-div">
                    <div class="seach-container">
                        <button class="btn mobile-search-close" (click)="showHideSearchMobile('hide')">
                            <i class="zmdi zmdi-arrow-left"></i>
                        </button><!--
                        --><input type="search" placeholder="Search..." class="main-search-menu-input"><!--
                        --><button class="btn prevent-main-search-hide" tabindex="0">
                            <i class="zmdi zmdi-search prevent-main-search-hide" tabindex="0"></i>
                        </button>
                        <div class="main-search-menu-dropdown">
                            <div class="search-scroll" [perfectScrollbar]>
                                <ul class="main-search-menu-result">
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 1</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 2</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 3</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 4</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 5</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 6</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 7</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 8</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 9</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 10</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 11</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 12</a>
                                    </li>
                
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 13</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 14</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 15</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 16</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 17</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 18</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 19</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 20</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 21</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 22</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 23</a>
                                    </li>
                                    <li>
                                        <a (click)="testExpress($event)" class="no-hover search-result">Content 24</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-footer" tabindex="0">see all</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>