<div class="row">
	<div class="col-sm-12">
		<div class="chat">
			<div class="chat-list-container">
				<ul class="list-unstyled chat-user-list">
					<li>
						<a>User A</a>
					</li>
					<li>
						<a>User B</a>
					</li>
					<li>
						<a>
							User C
						</a>
					</li>
				</ul>
			</div>
			<div class="chat-message-container">
				<div class="bar-head">
					<ul class="top-nav">
						<li class="right dropdown" id="beam-chat-channel-selector" style="display: none;">
							<a class="overide-color" data-toggle="dropdown" aria-expanded="true">Select Chat Room <i class="zmdi zmdi-caret-down zmdi-hc-fw"></i></a>
							<ul class="dropdown-menu dropdown-menu-right" id="beam-chat-dropdown"></ul>
						</li>
					</ul>
				</div>

				<div class="bar-body">
					<div id="beam-chat-content" style="height: 100%; overflow: auto; display: block;">						
						<div class="beam-chat-container sender">
							<div class="beam-chat-columns">
								<div class="beam-chat-direction sender">
									<div style="flex-direction: column;" data-toggle="tooltip" data-placement="left" title="" data-original-title="1 month ago">
										<div class="beam-chat-floater-sender">
											<div class="beam-chat-message-breaker">
												<div class="beam-chat-message-wraper">
													<div class="beam-chat-rounder sender">
														<div class="beam-chat-message-wraper">
															<span>Hi Rowel de Guzman<br> </span>
														</div>
													</div>
													<div style="display: none;">1 month ago</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>						
						
						<div class="beam-chat-container reciever">
							<div style="text-align: left;" data-toggle="tooltip" data-placement="left" title="" data-original-title="Valueline Systems and Soltuions Corp 1 month ago">
								<div class="full-round">
									<div class="full-round-txt">V</div>
								</div>
							</div>
							<div class="beam-chat-columns">
								<div class="beam-chat-direction">
									<div style="flex-direction: column;">
										<div class="beam-chat-floater-reciever">
											<div class="beam-chat-message-breaker">
												<div class="beam-chat-message-wraper">
													<div class="beam-chat-rounder reciever">
														<div class="beam-chat-message-wraper">
															<span>Yes hi Rowel local<br></span>
														</div>
													</div>
													<div style="display: none;">Valueline Systems and Soltuions Corp 1 month ago</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>                
            	</div>
			</div>
		</div>
	</div>
</div>