<div class="block-header">
	<h2>Widgets</h2>
	<ul class="actions">
		<li>
			<a>
				<i class="zmdi zmdi-trending-up"></i>
			</a>
		</li>
		<li>
			<a>
				<i class="zmdi zmdi-check-all"></i>
			</a>
		</li>
	</ul>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="card picture-list">
			<div class="card-header">
				<h2>
					Augue laoreet rutrum
					<small>Cras congue nec lorem eget posuere</small>
				</h2>
			</div>
			<div class="pl-body">
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/1.png" alt="">
					</a>
				</div>
		
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/2.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/3.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/4.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/5.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/6.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/7.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/8.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/9.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/1.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/2.png" alt="">
					</a>
				</div>
				<div class="col-xs-3">
					<a>
						<img src="./assets/img/headers/square/3.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="card blog-post">
			<div class="bp-header">
				<img src="./assets/img/widgets/preview.jpg" alt="">
		
				<a class="bp-title">
					<h2>Samsung Galaxy Alpha</h2>
					<small>Vivamus sagittis lacus vel augue laoreet rutrum</small>
				</a>
			</div>
		
			<div class="p-20">
				Pellentesque lacinia sagittis libero. Praesent vitae justo purus. In hendrerit lorem nisl, ac lacinia urna aliquet non. Quisque
				nisi tellus, rhoncus quis est sit amete in nisl molestie fringilla. Nunc vitae ante id magna feugiat condimentum. Maecenas
				sit amet urna massa.
			</div>
		</div>
		<div class="card">
			<div class="listview">
				<div class="lv-header">
					Tasks
				</div>
				<div class="lv-body">
					<div class="lv-item">
						<div class="lv-title m-b-5">HTML5 Validation Report</div>
		
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
								<span class="sr-only">95% Complete (success)</span>
							</div>
						</div>
					</div>
					<div class="lv-item">
						<div class="lv-title m-b-5">Google Chrome Extension</div>
		
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
							 style="width: 80%">
								<span class="sr-only">80% Complete (success)</span>
							</div>
						</div>
					</div>
					<div class="lv-item">
						<div class="lv-title m-b-5">Social Intranet Projects</div>
		
						<div class="progress">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
								<span class="sr-only">20% Complete</span>
							</div>
						</div>
					</div>
					<div class="lv-item">
						<div class="lv-title m-b-5">Bootstrap Admin Template</div>
		
						<div class="progress">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							 style="width: 60%">
								<span class="sr-only">60% Complete (warning)</span>
							</div>
						</div>
					</div>
					<div class="lv-item">
						<div class="lv-title m-b-5">Youtube Client App</div>
		
						<div class="progress">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
							 style="width: 80%">
								<span class="sr-only">80% Complete (danger)</span>
							</div>
						</div>
					</div>
				</div>
		
				<div class="clearfix"></div>
		
				<a class="lv-footer">View All</a>
			</div>
		</div>
		<div class="card">
			<div class="card-header ch-alt">
				<h2>
					Contact Information
					<small>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</small>
				</h2>
			</div>
			<div class="card-body card-padding">
				<div class="pmo-contact">
					<ul>
						<li class="ng-binding">
							<i class="zmdi zmdi-phone"></i> 0949-344-3812</li>
						<li class="ng-binding">
							<i class="zmdi zmdi-email"></i> rowel.deguzman@roweldev.com</li>
						<li class="ng-binding">
							<i class="zmdi zmdi-facebook-box"></i> rowel.deguzman</li>
						<li class="ng-binding">
							<i class="zmdi zmdi-twitter"></i> @roweldg (twitter.com/roweldg)</li>
						<li>
							<i class="zmdi zmdi-pin"></i>
							<address class="m-b-0 ng-binding">
								213 E. Manuel St.,
								<br> San Jose,
								<br> Montalban, Rizal, Philippines
							</address>
						</li>
					</ul>
				</div>
				<a class="pmo-map">
					<img src="./assets/img/demo/map.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header">
				<h2>
					Praesent vitae justo purus
					<small>In hendrerit lorem nislac lacinia</small>
				</h2>
			</div>
			<div class="clearfix">
				<ul class="tab-nav tn-justified" id="license-tab-parent">
					<li class="btn-wave " [ngClass]="{'active active-tab': tabActive == 1}" waves-effect>
						<a href="javascript: void(0);" id="for-tab-1" style="color: #2BA3D4;" (click)="selectTab(1)">Home</a>
					</li>
					<li class="btn-wave" [ngClass]="{'active active-tab': tabActive == 2}" waves-effect>
						<a href="javascript: void(0);" id="for-tab-2" style="color: #2BA3D4;" (click)="selectTab(2)">Profile</a>
					</li>
					<li class="btn-wave" [ngClass]="{'active active-tab': tabActive == 3}" waves-effect>
						<a href="javascript: void(0);" id="for-tab-2" style="color: #2BA3D4;" (click)="selectTab(3)">Message</a>
					</li>
				</ul>
				<div style="position: relative">
					<div class="tab-content p-t-10">
						<div class="tab-pane" [ngClass]="{'active': tabActive == 1}">
							<div class="p-l-25 p-r-25">
								 In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
								Nam eget dui. In ac felis quis tortor malesuada pretium. Phasellus consectetuer vestibulum elit. Duis lobortis massa imperdiet
								quam. Pellentesque commodo eros a enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
								Curae; In ac dui quis mi consectetuer lacinia. Phasellus a est. Pellentesque commodo eros a enim. Cras ultricies mi eu turpis
								hendrerit fringilla. Donec mollis hendrerit risus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu,
								nisl. Praesent egestas neque eu enim. In hac habitasse platea dictumst.
							</div>
						</div>
						<div class="tab-pane" [ngClass]="{'active': tabActive == 2}">
							<div class="p-l-25 p-r-25">
								Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Vestibulum purus quam, scelerisque ut, mollis sed,
								nonummy id, metus. Nulla sit amet est. Praesent ac massa at ligula laoreet iaculis. Vivamus aliquet elit ac nisl.
								Nulla porta dolor. Cras dapibus. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
							</div>
						</div>
						<div class="tab-pane" [ngClass]="{'active': tabActive == 3}">
							<div class="p-l-25 p-r-25">
								Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis. Etiam ut
								purus mattis mauris sodales aliquam. Aenean viverra rhoncus pede. Nulla sit amet est. Donec mi odio, faucibus at,
								scelerisque quis, convallis in, nisi. Praesent ac sem eget est egestas volutpat. Cras varius. Morbi mollis tellus
								ac sapien. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nam ipsum risus, rutrum vitae, vestibulum
								eu, molestie vel, lacus. Fusce vel dui.Morbi mattis ullamcorper velit. Etiam rhoncus. Phasellus leo dolor, tempus
								non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis. Etiam ut purus mattis mauris sodales aliquam.
								Aenean viverra rhoncus pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi.
								Praesent ac sem eget est egestas volutpat. Cras varius. Morbi mollis tellus ac sapien. In enim justo, rhoncus ut,
								imperdiet a, venenatis vitae, justo. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Fusce vel
								dui.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="todo-lists" class="ng-scope">
			<div class="tl-header">
				<h2>Todo Lists</h2>
				<small>Add, edit and manage your Todo Lists</small>
		
				<ul class="actions actions-alt">
					<li class="dropdown" dropdown>
						<a dropdownToggle aria-haspopup="true" aria-expanded="false">
							<i class="zmdi zmdi-more-vert"></i>
						</a>
		
						<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-arrow"></li>
							<li>
								<a>Refresh</a>
							</li>
							<li>
								<a>Manage Widgets</a>
							</li>
							<li>
								<a>Widgets Settings</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		
			<div class="clearfix"></div>
		
			<div class="tl-body">
				<div id="add-tl-item" >
					<i class="add-new-item zmdi zmdi-plus" (click)="newTodo($event)" waves-effect></i>
		
					<div class="add-tl-body">
						<textarea placeholder="What you want to do..." [(ngModel)]="todoValue"></textarea>

						<div class="add-tl-actions">
							<a data-tl-action="dismiss" class="a-prevent" (click)="dismiss($event)">
								<i class="zmdi zmdi-close"></i>
							</a>
							<a data-tl-action="save" class="a-prevent" (click)="addTodo($event)">
								<i class="zmdi zmdi-check"></i>
							</a>
						</div>
					</div>
				</div>
		
				<div class="checkbox media" *ngFor="let list of lists">
					<div class="pull-right">
						<ul class="actions actions-alt">
							<li class="dropdown" dropdown>
								<a dropdownToggle aria-haspopup="true" aria-expanded="false">
									<i class="zmdi zmdi-more-vert"></i>
								</a>
		
								<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
									<li class="dropdown-arrow"></li>
									<li>
										<a (click)="removeTodo(list.id)">Delete</a>
									</li>
									<li>
										<a (click)="removeTodo(list.id)">Archive</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="media-body">
						<label>
							<input type="checkbox">
							<i class="input-helper"></i>
							<span> {{ list.todo }} </span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="card go-social">
			<div class="card-header">
				<h2>
					Social with us
					<small>Nunc sit amet dapibus tellus</small>
				</h2>
			</div>
			<div class="card-body clearfix">
				<div class="col-xs-4">
					<img class="img-responsive" src="./assets/img/social/facebook-128.png">
				</div>
				<div class="col-xs-4">
					<img class="img-responsive" src="./assets/img/social/twitter-128.png">
				</div>
				<div class="col-xs-4">
					<img class="img-responsive" src="./assets/img/social/googleplus-128.png">
				</div>
		
				<div class="col-xs-4">
					<img class="img-responsive" src="./assets/img/social/linkedin-128.png">
				</div>
				<div class="col-xs-4">
					<img class="img-responsive" src="./assets/img/social/youtube-128.png">
				</div>
				<div class="col-xs-4">
					<img class="img-responsive" src="./assets/img/social/blogger-128.png">
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header ch-alt">
				<h2>
					Sample Form
					<small>Pellentesque ac lectus sed elit dictum vehicula</small>
				</h2>
			</div>
			<div class="card-body card-padding">
				<div class="form-group rg-float">
					<div class="rg-line">
						<input class="form-control input-sm" type="text" rg-line>
						<div class="rg-input-underline">
							<span class="rg-input-ripple"></span>
						</div>
					</div>
					<label class="rg-label">Name</label>
				</div>
				<div class="form-group rg-float">
					<div class="rg-line" >
						<input class="form-control input-sm" type="text" rg-line >
						<div class="rg-input-underline">
							<span class="rg-input-ripple"></span>
						</div>
					</div>
					<label class="rg-label">Emain Address</label>
				</div>
				<div class="form-group rg-float">
					<div class="rg-line">
						<input class="form-control input-sm" type="text" rg-line>
						<div class="rg-input-underline">
							<span class="rg-input-ripple"></span>
						</div>
					</div>
					<label class="rg-label">Contact Number</label>
				</div>
				<div class="form-group rg-float">
					<div class="rg-line">
						<textarea class="form-control input-sm" rg-line></textarea>
						<div class="rg-input-underline">
							<span class="rg-input-ripple"></span>
						</div>
					</div>
					<label class="rg-label">Message</label>
				</div>
				<button class="btn btn-primary" waves-effect>Submit</button>
				<button class="btn btn-link" waves-effect>Cancel</button>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card rating-list">
			<div class="listview">
				<div class="lv-header">
					<div class="m-t-5">
						Average Rating 3.0
					</div>
		
					<div class="clearfix"></div>
		
					<div class="rl-star">
						<i class="zmdi zmdi-star active"></i>
						<i class="zmdi zmdi-star active"></i>
						<i class="zmdi zmdi-star active"></i>
						<i class="zmdi zmdi-star"></i>
						<i class="zmdi zmdi-star"></i>
					</div>
				</div>
		
				<div class="lv-body">
					<div class="p-15">
						<div class="lv-item">
							<div class="media">
								<div class="pull-left">
									1
									<i class="zmdi zmdi-star"></i>
								</div>
		
								<div class="pull-right">20</div>
		
								<div class="media-body">
									<div class="progress">
										<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
										 style="width: 20%">
										</div>
									</div>
								</div>
							</div>
						</div>
		
						<div class="lv-item">
							<div class="media">
								<div class="pull-left">
									2
									<i class="zmdi zmdi-star"></i>
								</div>
		
								<div class="pull-right">45</div>
		
								<div class="media-body">
									<div class="progress">
										<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
										 style="width: 45%">
										</div>
									</div>
								</div>
							</div>
						</div>
		
						<div class="lv-item">
							<div class="media">
								<div class="pull-left">
									3
									<i class="zmdi zmdi-star"></i>
								</div>
		
								<div class="pull-right">60</div>
		
								<div class="media-body">
									<div class="progress">
										<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										 style="width: 60%">
										</div>
									</div>
								</div>
							</div>
						</div>
		
						<div class="lv-item">
							<div class="media">
								<div class="pull-left">
									4
									<i class="zmdi zmdi-star"></i>
								</div>
		
								<div class="pull-right">78</div>
		
								<div class="media-body">
									<div class="progress">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"
										 style="width: 78%">
										</div>
									</div>
								</div>
							</div>
						</div>
		
						<div class="lv-item">
							<div class="media">
								<div class="pull-left">
									5
									<i class="zmdi zmdi-star"></i>
								</div>
		
								<div class="pull-right">22</div>
		
								<div class="media-body">
									<div class="progress">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card profile-view">
			<div class="pv-header">
				<img class="pv-main" src="./assets/images/profile.jpeg">
			</div>
			<div class="pv-body">
				<h2>Rowel de Guzman</h2>
				<small>Praesent vitae justo purus. In hendrerit lorem nislac lacinia urnaunc vitae ante id magna </small>
				<ul class="pv-contact">
					<li>
						<i class="zmdi zmdi-room"></i> Smart</li>
					<li>
						<i class="zmdi zmdi-phone"></i> 0949-344-3812</li>
				</ul>
				<ul class="pv-follow">
					<li>589 Followers</li>
					<li>8545 Followings</li>
				</ul>
				<a class="pv-follow-btn" wavesEffect href="javascript: void(1)">Follow</a>
			</div>
		</div>
		<div class="card">
			<div class="listview">
				<div class="lv-header">
					Messages
				</div>
				<div class="lv-body">
					<a class="lv-item">
						<div class="media">
							<div class="pull-left">
								<img class="lv-img-sm" src="./assets/img/profile-pics/1.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="lv-title">David Belle</div>
								<small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
							</div>
						</div>
					</a>
					<a class="lv-item">
						<div class="media">
							<div class="pull-left">
								<img class="lv-img-sm" src="./assets/img/profile-pics/2.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="lv-title">Jonathan Morris</div>
								<small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
							</div>
						</div>
					</a>
					<a class="lv-item">
						<div class="media">
							<div class="pull-left">
								<img class="lv-img-sm" src="./assets/img/profile-pics/3.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="lv-title">Fredric Mitchell Jr.</div>
								<small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
							</div>
						</div>
					</a>
					<a class="lv-item">
						<div class="media">
							<div class="pull-left">
								<img class="lv-img-sm" src="./assets/img/profile-pics/4.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="lv-title">Glenn Jecobs</div>
								<small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
							</div>
						</div>
					</a>
					<a class="lv-item">
						<div class="media">
							<div class="pull-left">
								<img class="lv-img-sm" src="./assets/img/profile-pics/4.jpg" alt="">
							</div>
							<div class="media-body">
								<div class="lv-title">Bill Phillips</div>
								<small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
							</div>
						</div>
					</a>
				</div>
				<a class="lv-footer">View All</a>
			</div>
		</div>
		<!---->
		<div class="card">
			<div class="card-header bgm-cyan"> <!-- Please refer the Colors page in User Interface for more color classes -->
				<h2>Text with custom header <small>Nam at dui sed lacus lacinia lobortis</small></h2>
			</div>

			<div class="card-body card-padding">
				Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis. Donec eget felis et sem scelerisque euismod eget sit amet nunc.
			</div>
		</div>
	</div>
</div>
