.dropdown{
	&.dropdown-menu-lg{
		width: 300px;
	}
	&.dropdown-menu-sm{
		width: 150px;
	}
	
	&.dm-icon > li > a > .zmdi{
		line-height: 100%;
		vertical-align: top;
		font-size: 18px;
		width: 20px;
		text-align: center;
		margin-right: 10px;
	}
	.dropdown-arrow {
		border-color: transparent;
		border-bottom-color: transparent;
		border-bottom-color: #fff;
		border-style: dashed dashed solid;
		border-width: 0 8.5px 8.5px;
		display: block;
		position: absolute;
		top: -8px;
		z-index: 1;
		height: 0;
		width: 0;
		right: 5.5px;
	}
	.dropdown-menu {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
		-webkit-transition: all;
		-o-transition: all;
		transition: all;
		-webkit-transition-duration: 250ms;
		transition-duration: 250ms;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		margin-top: 1px;
		background-color: #fff;
		border: 1px solid transparent !important;
		border-radius: 2px !important;
		li > a {
			padding: 8px 17px !important;
			-webkit-transition: background-color  !important;
			-o-transition: background-color  !important;
			transition: background-color  !important;
			-webkit-transition-duration: 300ms  !important;
			transition-duration: 300ms  !important;
			font-family: "roboto" !important;
		}
		&.dropdown-menu-right{
			right: 0;
			left: auto;
			& > li > a{
				text-align: right;
			}  
		}
		&.dm-icon > li > a > .zmdi {
			line-height: 100%;
			vertical-align: top;
			font-size: 18px;
			width: 20px;
			text-align: center;
			margin-right: 10px;
		}
	}
	.no-annimate{
		-webkit-transition: none !important;
		-o-transition: none !important;
		transition: none !important;
		-webkit-transition-duration: none !important;
		transition-duration: none !important;
		transform-origin: none !important;
	}
}

.dropdown:not([data-animation]) .dropdown-menu,
.btn-group .dropdown-menu,
.date-picker .dropdown-menu {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	filter: alpha(opacity=0);
	display: block;
	
}
.dropdown:not([data-animation]) .dropdown-menu.pull-right,
.bootstrap-select .dropdown-menu.pull-right,
.btn-group .dropdown-menu.pull-right,
.date-picker .dropdown-menu.pull-right,
.dropdown:not([data-animation]) .dropdown-menu.dropdown-menu-right,
.bootstrap-select .dropdown-menu.dropdown-menu-right,
.btn-group .dropdown-menu.dropdown-menu-right,
.date-picker .dropdown-menu.dropdown-menu-right {
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
}
.dropdown:not([data-animation]) .dropdown-menu:not(.pull-right):not(.dropdown-menu-right),
.bootstrap-select .dropdown-menu:not(.pull-right):not(.dropdown-menu-right),
.btn-group .dropdown-menu:not(.pull-right):not(.dropdown-menu-right),
.date-picker .dropdown-menu:not(.pull-right):not(.dropdown-menu-right) {
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
}
.dropup:not([data-animation]) .dropdown-menu.pull-right,
.dropup:not([data-animation]) .dropdown-menu.dropdown-menu-right {
	-webkit-transform-origin: bottom right;
	-moz-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	transform-origin: bottom right;
}
.dropup:not([data-animation]) .dropdown-menu:not(.pull-right):not(.dropdown-menu-right) {
	-webkit-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
}
.dropdown:not([data-animation]).open .dropdown-menu,
.dropup.open .dropdown-menu,
.bootstrap-select.open .dropdown-menu,
.btn-group.open .dropdown-menu {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	filter: alpha(opacity=100);
}
.dropdown-header {
	padding: 3px 17px;
	margin-top: 10px;
	color: #b1b1b1;
	text-transform: uppercase;
	font-weight: normal;
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
	background-color: $secondary;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:hover *{
	color: #ffffff;
}
.btn-group-radius,
.btn-group-radius.open,
.btn-group.btn-group-radius > .btn:first-child:not(:last-child):not(.dropdown-toggle){
	border-radius: 3px;
	border-top-right-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}