main{
	margin-top: 70px;
	.block-header{
        padding: 0 22px;
        margin-bottom: 25px;
        position: relative;
        h2{
            font-size: 17px;
            color: #777;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        .actions {
            position: absolute;
            right: 10px;
            top: -5px;
            z-index: 5;
        }
    }
    .main-overlay{
        width: 100%;
        position: fixed;
        height: 100%;
        top: 50px;
        bottom: 0;
        background: pink;
        left: 250px;
        visibility: hidden;
        z-index: 8;
        &.active{
            visibility: visible;
        }
    }
    
    footer{
        ul li {
            display: inline;
            padding: 10px;
        }
    }
}
a {
    cursor: pointer;
    &:hover{ text-decoration:  none;  }
}
body.full-layout {
	@media (min-width: 1025px){
		main.container{
			width: calc(100% - 250px);
			margin-left: 250px !important;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px){
        main.container{
			width: calc(100% - 50px);
			margin-left: 50px !important;
        }
        .aside-profile{
            pointer-events: none;
            height: 70px;
            transition: height .3s;
            img {
                height: 32px;
                width: 32px;
                left: 10px;
                transition: width .3s , height .3s, left .3s;
            }
            .labeled, .header-dropdown-icon {
                opacity: 0;
                transition: opacity .3s;
            }
        }

        aside.active{
            .aside-profile{
                pointer-events: auto;
                height: 150px;
                transition: height .3s;
                img {
                    height: 50px !important;
                    width: 50px !important;
                    left: 16px !important;
                    transition: width .3s , height .3s, left .3s;
                }
                .labeled, .header-dropdown-icon {
                    opacity: 1;
                    transition: opacity .3s;
                }
            }
        }
    }
}

body:not(.full-layout) {
    @media (min-width: 768px){
        header button.navbar-toggle.collapsed{
            display: block !important;
            float: left;
        }
    }
	aside{
        //display: none;
        transition-duration: .3s;
        transform: translateX(-250px);

        &.active{
            transition-duration: .3s;
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 1024px){
    main{
        //margin-left: 52px !important;
        transition-duration: .3s;
        .main-overlay{
            left: 52px !important;
        }
    }
    main.aside-active{
        //margin-left: 250px !important;
        transition-duration: .3s;
    }
}
@media screen and (max-width: 767px){
    main{
        margin-left: 0px !important;
        .main-overlay{
            left: 0 !important;
        }
    }
    body:not(.full-layout) {
        aside{
            display: block;
        }
    }
}