main{
	margin-top: 70px;
	.block-header{
        padding: 0 22px;
        margin-bottom: 25px;
        position: relative;
        h2{
            font-size: 17px;
            color: #777;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        .actions {
            position: absolute;
            right: 10px;
            top: -5px;
            z-index: 5;
        }
    }
    .main-overlay{
        width: 100%;
        position: fixed;
        height: 100%;
        top: 50px;
        bottom: 0;
        background: pink;
        left: 250px;
        visibility: hidden;
        z-index: 8;
        &.active{
            visibility: visible;
        }
    }
    
    footer{
        ul li {
            display: inline;
            padding: 10px;
        }
    }
}
a {
    cursor: pointer;
    &:hover{ text-decoration:  none;  }
}
body.full-layout {
	@media (min-width: 1025px){
		main.container{
			width: calc(100% - 250px);
			margin-left: 250px !important;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px){
        main.container{
			width: calc(100% - 50px);
			margin-left: 50px !important;
        }
        .aside-profile{
            pointer-events: none;
            height: 70px;
            transition: height .3s;
            img {
                height: 32px;
                width: 32px;
                left: 10px;
                transition: width .3s , height .3s, left .3s;
            }
            .labeled, .header-dropdown-icon {
                opacity: 0;
                transition: opacity .3s;
            }
        }

        aside.active{
            .aside-profile{
                pointer-events: auto;
                height: 150px;
                transition: height .3s;
                img {
                    height: 50px !important;
                    width: 50px !important;
                    left: 16px !important;
                    transition: width .3s , height .3s, left .3s;
                }
                .labeled, .header-dropdown-icon {
                    opacity: 1;
                    transition: opacity .3s;
                }
            }
        }
    }
}

body:not(.full-layout) {
    @media (min-width: 768px){
        header button.navbar-toggle.collapsed:not(.search-small){
            display: block !important;
            float: left;
        }
    }
	aside{
        //display: none;
        transition-duration: .3s;
        transform: translateX(-250px);

        &.active{
            transition-duration: .3s;
            transform: translateX(0);
        }
    }
    .bottom-collapser{
        display: none;
        transition-duration: .3s;
    }
}

@media screen and (max-width: 1024px){
    main{
        //margin-left: 52px !important;
        transition-duration: .3s;
        .main-overlay{
            left: 52px !important;
        }
    }
    main.aside-active{
        //margin-left: 250px !important;
        transition-duration: .3s;
    }
}
@media screen and (max-width: 767px){
    main{
        margin-left: 0px !important;
        .main-overlay{
            left: 0 !important;
        }
    }
    body:not(.full-layout) {
        aside{
            display: block;
        }
    }
}

/* APP HEADER */
app-header[rg-skin="primary"] {
    nav, #search-mobile-container{
        background: $primary !important;
        border-bottom: $primary !important;
    }
}
app-header[rg-skin="blue"] {
    nav, #search-mobile-container {
        background: $blue !important;
        border-bottom: $blue !important;
    }
}
app-header[rg-skin="lightblue"] {
    nav, #search-mobile-container {
        background: $lightblue !important;
        border-bottom: $lightblue !important;
    }
}
app-header[rg-skin="bluegray"] {
    nav, #search-mobile-container {
        background: $bluegray !important;
        border-bottom: $bluegray !important;
    }
}
app-header[rg-skin="cyan"] {
    nav, #search-mobile-container {
        background: $cyan !important;
        border-bottom: $cyan !important;
    }
}
app-header[rg-skin="teal"] {
    nav, #search-mobile-container {
        background: $teal !important;
        border-bottom: $teal !important;
    }
}
app-header[rg-skin="green"] {
    nav, #search-mobile-container {
        background: $green !important;
        border-bottom: $green !important;
    }
}
app-header[rg-skin="orange"] {
    nav, #search-mobile-container {
        background: $orange !important;
        border-bottom: $orange !important;
    }
}
app-header[rg-skin="purple"] {
    nav, #search-mobile-container {
        background: $purple !important;
        border-bottom: $purple !important;
    }
}
app-header[rg-skin="indigo"] {
    nav, #search-mobile-container {
        background: $indigo !important;
        border-bottom: $indigo !important;
    }
}

/* APP SIDEBAR */
app-sidebar[rg-skin="primary"] aside {
    background: $primary;
    .aside-profile{
        background: $primary !important;
    }

}
app-sidebar[rg-skin="blue"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $blue !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $blue !important;
                i { 
                    color: $blue !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $blue !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $blue;
    }
}
app-sidebar[rg-skin="lightblue"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $lightblue !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $lightblue !important;
                i { 
                    color: $lightblue !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $lightblue !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $lightblue;
    }
}
app-sidebar[rg-skin="bluegray"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $bluegray !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $bluegray !important;
                i { 
                    color: $bluegray !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $bluegray !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $bluegray;
    }
}
app-sidebar[rg-skin="cyan"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $cyan !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $cyan !important;
                i { 
                    color: $cyan !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $cyan !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $cyan;
    }
}
app-sidebar[rg-skin="teal"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $teal !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $teal !important;
                i { 
                    color: $teal !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $teal !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $teal;
    }
}
app-sidebar[rg-skin="green"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $green !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $green !important;
                i { 
                    color: $green !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $green !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $green;
    }
}
app-sidebar[rg-skin="orange"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $orange !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $orange !important;
                i { 
                    color: $orange !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $orange !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $orange;
    }
}
app-sidebar[rg-skin="purple"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $purple !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $purple !important;
                i { 
                    color: $purple !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $purple !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $purple;
    }
}
app-sidebar[rg-skin="indigo"] aside {
    background: #f3f3f3;
    .aside-profile{
        background: $indigo !important;
    }
    nav ul li {
        & > a{
            .icon-circle{
                border: none !important;
                background: transparent !important;
            }
            &.active, &:hover{
                color: $indigo !important;
                i { 
                    color: $indigo !important; 
                }
            }
        }
        &.sub-menu:not(.toggled) > a,
        &.sub-menu.toggled > a{
            &:hover::after,
            &.active::after{
                color: $indigo !important;
            }
        }
    }
    nav > .bottom-collapser .bottom-toggler{
        background-color: $indigo;
    }
}


/* APP MAIN */

body[rg-skin="primary"] {
    button.btn.btn-primary{
        background-color: $primary !important;
        border-color: $primary !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $primary;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $primary;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="blue"] {
    button.btn.btn-primary{
        background-color: $blue !important;
        border-color: $blue !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $blue;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $blue;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="lightblue"] {
    button.btn.btn-primary{
        background-color: $lightblue !important;
        border-color: $lightblue !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $lightblue;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $lightblue;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="bluegray"] {
    button.btn.btn-primary{
        background-color: $bluegray !important;
        border-color: $bluegray !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $bluegray;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $bluegray;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="cyan"] {
    button.btn.btn-primary{
        background-color: $cyan !important;
        border-color: $cyan !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $cyan;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $cyan;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="teal"] {
    button.btn.btn-primary{
        background-color: $teal !important;
        border-color: $teal !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $teal;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $teal;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="green"] {
    button.btn.btn-primary{
        background-color: $green !important;
        border-color: $green !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $green;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $green;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="orange"] {
    button.btn.btn-primary{
        background-color: $orange !important;
        border-color: $orange !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $orange;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $orange;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="purple"] {
    button.btn.btn-primary{
        background-color: $purple !important;
        border-color: $purple !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $purple;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $purple;
        a {
            color: #ffffff !important;
        }
    }
}
body[rg-skin="indigo"] {
    button.btn.btn-primary{
        background-color: $indigo !important;
        border-color: $indigo !important;
    }
    .tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a::before,
    .profile .right-pane .extra-nav ul li a::after{
        background: $indigo;
    }
    .search-div .main-search-menu-result > li.active, 
    .search-div .main-search-menu-result > li:hover {
        background-color: $indigo;
        a {
            color: #ffffff !important;
        }
        
    }
}