<div class="container-fluid" id="page-404">
	<div class="not-found-container">
		<div class="not-found-flex">
			<div class="not-found-holder">
				<div class="not-found-box">
					<div class="main">
						<div class="panel">
							<div class="header">
								<h1>Page Not found</h1>
							</div>
							<div class="body">
								<p>Looks like you've followed a broken link or entered a URL that doesn't exist on this site.</p>
								<p><a id="back-link" routerLink="/home">← Back to our site</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>