<div class="container-fluid">
	<div class="login-container">
		<div class="login-flex">
			<div class="login-holder">
				<div class="login-box">
					<div class="card">
						<div class="card-header">
							<h2> Enter Email</h2>
						</div>
						<div class="card-body card-padding ch-alt">
							<div class="form-group rg-float">
								<div class="rg-line">
									<input autofocus="" class="form-control input-sm" rg-line type="text" #username>
									<div class="rg-input-underline">
										<span class="rg-input-ripple"></span>
									</div>
								</div>
								<label class="rg-label">Email</label>
							</div>
							<button class="btn btn-block login-btn" type="submit" waves-effect>RETRIEVE PASSWORD</button>
						</div>
						<div class="card-footer p-0">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-10" style="color: #FFF">
								<a routerLink="/login">Registered?</a>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-10" style="color: #FFF">
								<a routerLink="/signup">Not registered?</a>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>