<main class="pricing-main-container row">
	<div class="block-header">
		<h2>Pricing Sample Page</h2>
		<ul class="actions">
			<li>
				<a>
					<i class="zmdi zmdi-trending-up"></i>
				</a>
			</li>
			<li>
				<a>
					<i class="zmdi zmdi-check-all"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="block-header">
		<h2>First Pricing
			<br>
			<small>All css codes of this pricing is in
				<code>src/app/layout/sample-page/pricing-table.scss</code>
			</small>
		</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3" style="position: relative;">
				<div class="pricing-container">
					<h4>Freelancer</h4>
					<div class="icon-container">
						<i class="zmdi zmdi-print zmdi-hc-fw"></i>
					</div>
					<div class="price-desc-container">
						<span>FREE</span>
						<p>This is good if your company size is bewtween 2 and 10 persons</p>
					</div>
					<ul class="list-unstyled">
						<li>Module A</li>
						<li>Module B</li>
						<li>Module D</li>
						<li>Module E</li>
					</ul>
					<button class="btn btn-primary prcing-btn" waves-effect>Choose Plan</button>
				</div>			
			</div>
			<div class="col-sm-12 col-md-3" style="position: relative;">
				<div class="pricing-container">
					<h4>Small Company</h4>
					<div class="icon-container">
						<i class="zmdi zmdi-home zmdi-hc-fw"></i>
					</div>
					<div class="price-desc-container">
						<span>$29</span>
						<p>This is good if your company size is bewtween 2 and 10 persons</p>
					</div>
					<ul class="list-unstyled">
						<li>Module A</li>
						<li>Module B</li>
						<li>Module D</li>
						<li>Module E</li>
					</ul>
					<button class="btn btn-primary prcing-btn" waves-effect>Choose Plan</button>
				</div>
			</div>
			<div class="col-sm-12 col-md-3" style="position: relative;">
				<div class="pricing-container">
					<h4>Medium Company</h4>
					<div class="icon-container">
						<i class="zmdi zmdi-city-alt zmdi-hc-fw"></i>
					</div>
					<div class="price-desc-container">
						<span>$69</span>
						<p>This is good if your company size is bewtween 2 and 10 persons</p>
					</div>				
					<ul class="list-unstyled">
						<li>Module A</li>
						<li>Module B</li>
						<li>Module D</li>
						<li>Module E</li>
					</ul>
					<button class="btn btn-primary prcing-btn" waves-effect>Choose Plan</button>
				</div>
			</div>
			<div class="col-sm-12 col-md-3" style="position: relative;">
				<div class="pricing-container">
					<h4>Enterprise</h4>
					<div class="icon-container">
						<i class="zmdi zmdi-balance zmdi-hc-fw"></i>
					</div>
					<div class="price-desc-container">
						<span>$159</span>
						<p>This is good if your company size is bewtween 2 and 10 persons</p>
					</div>
					<ul class="list-unstyled">
						<li>Module A</li>
						<li>Module B</li>
						<li>Module D</li>
						<li>Module E</li>
					</ul>
					<button class="btn btn-primary prcing-btn" waves-effect>Choose Plan</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="block-header">
		<h2>Second Pricing
			<br>
			<small>All css codes of this pricing is in
				<code>src/app/layout/sample-page/pricing-table.scss</code>
			</small>
		</h2>
	</div>
	
	<div class="container">
		<div class="row pricing">
			<!--Free-->
			<div class="col-sm-12 col-md-4 col-lg-4" id="pricing-first-main" style="padding: 0px;">
				<div class="pricing-first-holder">
					<div class="pricing-first-head">
						<div class="pricing-first-head-text">Free Forever</div>
						<hr>
						<div style="text-align: center; margin-top: 10px">
							<div class="pricing-first-type">FREE</div>
							<div style="text-align: center; padding-bottom: 10px; padding-top: 5px; ">(no credit card required)</div>
						</div>
						<div>
							<p class="text-center">Up to</p>
							<ul class="list-unstyled">
								<li style="padding: 5px;">
									<span class="pull-left" style="margin-left:10%">3</span>
									<span class="pull-right" style="margin-right: 10%">Users</span>
									<span class="clearfix"></span>
								</li>
								<li style="padding: 5px;">
									<span class="pull-left" style="margin-left:10%">20</span>
									<span class="pull-right" style="margin-right: 10%">Companies</span>
									<span class="clearfix"></span>
								</li>
								<li></li>
								<li style="padding: 5px;">
									<span class="pull-left" style="margin-left:10%">199&nbsp;MB</span>
									<span class="pull-right" style="margin-right: 10%">Storage</span>
									<span class="clearfix"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div style="height: auto;">
						<ul class="list-unstyled list-striped">
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Leads</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Opportunities</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Account</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Contact</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Forecast</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Products</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-close zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Report</span>
								<span class="clearfix"></span>
							</li>
						</ul>
					</div>
					<div class="pricing-first-footer">
						<div class="text-center">
							<button class="btn btn-primary pricing-btn" waves-effect>Choose Plan</button>
						</div>
					</div>
				</div>
			</div>
			<!--Team-->
			<div class="col-sm-12 col-md-4 col-lg-4" id="pricing-third-main">
				<div class="pricing-third-holder">
					<div class="pricing-third-head">
						<div class="pricing-third-head-text">Enterprise plan</div>
						<hr>
						<div style="text-align: center; margin-top: 10px">
							<div class="pricing-third-type">$ 99.00</div>
							<div style="text-align: center; padding-bottom: 10px; padding-top: 5px; ">Monthly Subscription</div>
						</div>
						<div>
							<p class="text-center">Up to</p>
							<ul class="list-unstyled">
								<li style="padding: 5px;">
									<span class="pull-left" style="margin-left:10%">25</span>
									<span class="pull-right" style="margin-right: 10%">Users</span>
									<span class="clearfix"></span>
								</li>
								<li style="padding: 5px;">
									<span class="pull-left" style="margin-left:10%">Unlimited</span>
									<span class="pull-right" style="margin-right: 10%">Companies</span>
									<span class="clearfix"></span>
								</li>
								<li></li>
								<li style="padding: 5px; padding-bottom: 10px;">
									<span class="pull-left" style="margin-left:10%">10&nbsp;GB</span>
									<span class="pull-right" style="margin-right: 10%">Storage</span>
									<span class="clearfix"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div style="height: auto;">
						<ul class="list-unstyled list-striped">
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Leads</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Opportunities</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Account</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Contact</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Forecast</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Products</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Report</span>
								<span class="clearfix"></span>
							</li>
						</ul>
					</div>
					<div class="pricing-third-footer">
						<div class="text-center">
							<button class="btn btn-primary pricing-btn" waves-effect>Choose Plan</button>
						</div>
					</div>
				</div>
			</div>
			<!--Enterprise-->
			<div class="col-sm-12 col-md-4 col-lg-4" id="pricing-second-main" style="padding: 0px; z-index: 1;">
				<div class="pricing-second-holder">
					<div class="pricing-second-head">
						<div class="pricing-second-head-text">Team plan</div>
						<hr>
						<div style="text-align: center; margin-top: 10px">
							<div class="pricing-second-type">$ 52.00</div>
							<div style="text-align: center; padding-bottom: 10px; padding-top: 5px; ">Monthly Subscription</div>
						</div>
						<div>
							<p class="text-center">Up to</p>
							<ul class="list-unstyled">
								<li style="padding: 5px;">
									<span class="pull-left" style="margin-left:10%">10</span>
									<span class="pull-right" style="margin-right: 10%">Users</span>
									<span class="clearfix"></span>
								</li>
								<li style="padding: 5px;">
									<span class="pull-left" style="margin-left:10%">500</span>
									<span class="pull-right" style="margin-right: 10%">Companies</span>
									<span class="clearfix"></span>
								</li>
								<li></li>
								<li style="padding: 5px;">
									<span class="pull-left" style="margin-left:10%">4&nbsp;GB</span>
									<span class="pull-right" style="margin-right: 10%">Storage</span>
									<span class="clearfix"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div style="height: auto;">
						<ul class="list-unstyled list-striped">
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Leads</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Opportunities</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Account</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Contact</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Forecast</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Products</span>
								<span class="clearfix"></span>
							</li>
							<li style="padding: 10px;">
								<i class="zmdi zmdi-check zmdi-hc-fw"></i>
								<span style="float: right; margin-right: 10%;">Report</span>
								<span class="clearfix"></span>
							</li>
						</ul>
					</div>
					<div class="pricing-second-footer">
						<div class="text-center">
							<button class="btn btn-primary pricing-btn" waves-effect>Choose Plan</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>